:root{
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --very-dark-desaturated-magenta: #6D4872;
  --text-input-field: #EFF2F6;
  --dark-grayish-magenta: #796B79;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}
/* Class 1 */
.form{
  display: flex;
  flex-direction: column;
}
.login{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.form-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  /* justify-items: center; */
}
.logo{
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.title{
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}
.subtitle{
  color: var(--very-dark-desaturated-magenta);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.label{
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input{
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}
.primary-button{
  background-color: var(--dark-grayish-magenta);
  border: none;
  border-radius: 8px;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
@media (max-width: 640px) {
  .logo{
    display: block;
  }
}
/* Class 2 */
.email-image{
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.email{
  width: 100%;
  display: flex;
  justify-content: center;
}
.email-image img{
  width: 80px;
}
.resend{
  font-size: var(--sm);
  text-align: center;
  margin-top: 28px;
}
.resend span{
  color: var(--very-dark-desaturated-magenta);
}
.resend a{
  color: var(--dark-grayish-magenta);
  text-decoration: none;
}
/* Class 3 */
.form a{
  color: var(--dark-grayish-magenta);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 54px;
}
.input-email{
  margin-bottom: 22px;
}
.secondary-button{
  background-color: var(--white);
  border: 1px solid var(--dark-grayish-magenta);
  border-radius: 8px;
  color: var(--dark-grayish-magenta);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
@media (max-width: 640px){
  .secondary-button{
    width: 300px;
    position: absolute;
    top: 88%;
  }
}
/* Class 4 */
.input-name, .input-email, .input-password{
  margin-bottom: 22px;
}
.title-start{
  text-align: start;
  margin-top: 28px;
  margin-bottom: 36px;
}
.form div{
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  .form__container-account{
    height: 100%;
  }
  .form-account{
    height: 100%;
    justify-content:space-between;
  }
  .create-button{
    margin-bottom: 24px;
  }
}
/* Class 5 */
.value{
  color: var(--very-dark-desaturated-magenta);
  font-size: var(--md);
  margin: 8px 0 32px 0;
}
/* Class 6 */
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.product-card{
  width: 240px;
}
.product-img{
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.product-info div p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2){
  color: var(--very-dark-desaturated-magenta);
  font-size: var(--sd);
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 640px) {
  .cards-container{
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card{
    width: 140px;
  }
  .product-img{
    width: 140px;
    height: 140px;
  }
  .product-card figure img{
    width: 35px;
    height: 35px;
  }
}
/* Class 7 */
.desktop-menu {
  width: 132px;
  height: auto;
  border: 1px solid var(--very-dark-desaturated-magenta);
  border-radius: 6px;
  padding: 16px 12px 0 12px;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
  font-size: var(--md);
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-dark-desaturated-magenta);
}
.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
.desktop-menu ul li:last-child a {
  color: var(--dark-grayish-magenta);
  font-size: var(--sm);
}
/* Class 8 */
.mobile-menu{
  padding: 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu ul{
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1), .mobile-menu ul:nth-child(2){
  font-size: var(--lg);
}
.mobile-menu ul:nth-child(1){
  border-bottom: 1px solid var(--very-dark-desaturated-magenta);
}
.mobile-menu ul:nth-child(1) a, .mobile-menu ul:nth-child(2) a{
  font-size: var(--lg);
  color: var(--black);
  font-weight: bold;
}
.mobile-menu ul:nth-child(3){
  font-size: var(--sm);
}
.menu-email{
  font-weight: 300;
  color: var(--black);
}
.menu-sign-out{
  color: var(--dark-grayish-magenta);
}
.mobile-menu ul li{
  margin-bottom: 24px;
}
.mobile-menu a{
  text-decoration: none;
}
/* Class 9 */
.my-order{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.title-my-order{
  font-size: var(--lg);
  margin-bottom: 40px;
}
.my-order-container{
  display: grid;
  grid-auto-rows: auto 1fr auto;
  width: 300px;
}
.my-order-content{
  display: flex;
  flex-direction: column;
}
.order-black{
  height: 70px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  padding: 0 24px;
  border-radius: 8px;
}
.order p:nth-child(1){
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1){
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2){
  font-size: var(--sm);
  color: var(--very-dark-desaturated-magenta);
}
.order p:nth-child(2){
  text-align: end;
  font-size: var(--md);
  font-weight: bold;
}
.shopping-cart{
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure{
  margin: 0;
}
.shopping-cart figure img{
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2){
  font-size: var(--sm);
  color: var(--very-dark-desaturated-magenta);
}
.shopping-cart p:nth-child(3){
  font-size: var(--md);
  font-weight: bold;
}
/* Class 10 */
.order-white{
  height: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
}
/* Class 11 */
nav{
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-dark-desaturated-magenta);
}
.menu{
  display: none;
}
.logo-navbar{
  width: 100px;
}
.navbar-left{
  display: flex;
}
.navbar-left ul{
  margin-left: 12px;
}
.navbar-left ul, .navbar-right ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left ul li a{
  font-size: var(--sm);
}
.navbar-left ul li a, .navbar-right ul li a{
  text-decoration: none;
  color: var(--very-dark-desaturated-magenta);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
  color: var(--dark-grayish-magenta);
  border: 1px solid var(--dark-grayish-magenta);
}
.navbar-email{
  font-size: var(--sm);
  color: var(--very-dark-desaturated-magenta);
  margin-right: 12px;
}
.navbar-shopping-cart{
  position: relative;
}
.navbar-shopping-cart div{
  color: var(--white);
  width: 20px;
  height: 20px;
  background-color: var(--dark-grayish-magenta);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: -4px;
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  .menu{
    display: block;
  }
  .navbar-left ul{
    display: none;
  }
  .navbar-email{
    display: none;
  }
}
/* Class 12 */
.product-detail{
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
}
.product-detail-close{
  background-color: var(--white);
  position: absolute;
  width: 14px;
  height: 14px;
  top: 24px;
  left: 24px;
  /* z-index: 2; */
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-close:hover{
  cursor: pointer;
}
.product-detail > img:nth-child(2){
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.product-info-complete{
  margin: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
}
.product-info-complete p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info-complete p:nth-child(2){
  color: var(--very-dark-desaturated-magenta);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}
.product-info-complete p:nth-child(3){
  color: var(--very-dark-desaturated-magenta);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}
.add-to-cart-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .product-detail{
    width: 100%;
  }
}
/* Class 13 */
.product-detail-cart{
  padding: 20px;
}
.title-container{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.title-container img{
  transform: rotate(180deg);
  margin-right: 14px;
}
.title-container p{
  font-size: var(--lg);
  font-weight: bold;
}
.order-total{
  background-color: var(--text-input-field);
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 16px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-total p{
  font-size: var(--md);
  font-weight: bold;
}
